@font-face {
    font-family: "FiraCode";
    src: url("./fonts/FiraCode-VF.woff2") format("woff2");
}

@font-face {
    font-family: "gilbert-color";
    src: url("./fonts/l.woff2") format("woff2"), url("./fonts/d.woff") format("woff"), url("./fonts/a.otf") format("opentype");
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Color Dot';
    src: url("./fonts/ColorDot.otf") format("opentype");
}

@font-face {
    font-family: "Pixelambacht Color";
    src: url("./fonts/PixelambachtColor.ttf");
}

@font-face {
    font-family: "Pixelambacht Color COLR";
    src: url("./fonts/PixelambachtColor-colr.ttf");
}

@font-face {
    font-family: "Pixelambacht Color SBIX";
    src: url("./fonts/PixelambachtColor-sbix.ttf");
}

@font-face {
    font-family: "Pixelambacht Color SVG";
    src: url("./fonts/PixelambachtColor-svg.ttf");
}

@font-face {
    font-family: "Twemoji SVG";
    src: url("./fonts/emoji/TwitterColorEmoji-SVGinOT.ttf");
}

@font-face {
    font-family: "Twemoji CBDT";
    src: url("./fonts/emoji/TwitterColorEmojiCBDT.ttf");
}

@font-face {
    font-family: "Twemoji";
    src: url("./fonts/emoji/TwemojiMozilla.ttf");
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 30px auto;
    font-size: 1rem !important;
}

.note {
    font-size: small;
    font-weight: lighter;
}

#header {
    font-size: smaller;
    text-align: right;
    color: black;
    line-height: 2;
    padding: 0 30px 50px 0;
}

#header a {
    color: black;
    text-decoration: none;
}

.weight1 {
    font-weight: 100;
}

.weight2 {
    font-weight: 200;
}

.weight3 {
    font-weight: 300;
}

.weight4 {
    font-weight: 400;
}

.weight5 {
    font-weight: 500;
}

.weight6 {
    font-weight: 600;
}

.weight7 {
    font-weight: 700;
}

.weight8 {
    font-weight: 800;
}

.weight9 {
    font-weight: 900;
}

.weightlg {
    font-weight: lighter;
}

.weightnr {
    font-weight: normal;
}

.weightbl {
    font-weight: bold;
}

.weightbr {
    font-weight: bolder;
}

div.weight span {
    line-height: 2;
}

div.weight {
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

#region {
    margin: auto;
    text-align: center;
    width: 100%;
}

table {
    table-layout: fixed;
    margin: auto;
}

table th {
    font-weight: lighter;
    padding: 0 10px;
}

.color-font {
    width: 100%;
    margin: auto;
    text-align: center;
}

#color {
    font-family: gilbert-color, sans-serif;
    font-style: normal;
    font-size: large;
}

#color2 {
    font-family: 'Color Dot', sans-serif;
    font-size: large;
}

/*noinspection CssNoGenericFontName*/
.color-test-colr {
    font-family: "Pixelambacht Color COLR", "Pixelambacht Color";
}

/*noinspection CssNoGenericFontName*/
.color-test-sbix {
    font-family: "Pixelambacht Color SBIX", "Pixelambacht Color";
}

/*noinspection CssNoGenericFontName*/
.color-test-svg {
    font-family: "Pixelambacht Color SVG", "Pixelambacht Color";
}

/*noinspection CssNoGenericFontName*/
.color-test-cbdt {
    font-family: "Pixelambacht Color CBDT", "Pixelambacht Color";
}

/*noinspection CssNoGenericFontName*/
#emoji {
    font-family: emoji,"Pixelambacht Color";
}

/*noinspection CssNoGenericFontName*/
#colr {
    font-family: Twemoji, "Pixelambacht Color";;
}

/*noinspection CssNoGenericFontName*/
#svg {
    font-family: "Twemoji SVG", "Pixelambacht Color";;
}

/*noinspection CssNoGenericFontName*/
#cbdt {
    font-family: "Twemoji CBDT", "Pixelambacht Color";;
}

.emoji {
    text-align: center;
    font-size: large;
}

#emoji-list {
    font-family: ui-monospace, SFMono-Regular, SF Mono,Menlo, Consolas, Liberation Mono, emoji;
    text-align: left;
    margin: auto;
}